<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/footer.css" type="text/css">
    <link rel="stylesheet" href="/styles/header.css" type="text/css">
    <link rel="stylesheet" href="/styles/landing.css" type="text/css">
    <link rel="stylesheet" href="/styles/sidebar.css" type="text/css">
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
    <link rel="stylesheet" href="/styles/login.css" type="text/css">
    <link rel="stylesheet" href="/styles/sign-up.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/javascript/contact.js"></script>
    <script src="/javascript/login.js"></script>
    <script src="/javascript/sing-up.js"></script>
    <title>Login</title>
</head>
<body>
    
</body>
</html>