aside {
    padding-top: 4rem;
    padding-left: 1rem;
    z-index: 1000;
    display: none;
    position: fixed;
    height: 100vh;
    width: 15vw;
    background: #49A37B;
    background: linear-gradient(to bottom, #49A37B, #add6c4);
}
aside li{
    margin-top: 1rem;
}
aside a{
    color: black;
    text-transform: uppercase;    
}
aside a:hover{
    border-bottom: black solid 1px;
}
@media (min-width: 768px) {
    aside {
        display: flex;
         
    }
}